[Unit]
Description=Run Bash Script Service
After=weston.service
Wants=weston.service
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/weston-terminal
WorkingDirectory=/home/weston
Restart=always

[Install]
WantedBy=graphical.target
